*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing: border-box;

}
ul{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.result{
    background-color: rgb(229, 246, 249);
    padding: 30px 0;
}

.result .container .child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.result .container .your-result{
    background-color: rgb(108, 67, 223);
    padding: 10px 20px;
    flex-basis: 50%;
    width: 100%;
    height:400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    position: relative;

}
.result .container .your-result h3{
    color: rgb(180, 182, 183);
    font-size: 25px;

    text-align: center;
}
.result .container .your-result .number{
    background-color: rgb(95, 54, 207);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 25%;

}
.result .container .your-result .number p{
    color: antiquewhite;
    font-size: 45px;
    font-weight: bold;
    position: relative;
text-align: center;
    
    left: 50%;
    top: 25%;


}
.result .container .your-result .number p::before{
    content: "of 100";
    position: absolute;
    color:white;
    font-size: 16px;
    top:50px;
    right: 80px;
    color: #ccc;
    
}


.result .container .your-result   h2{
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 65%;
}
.result .container .your-result  p{
    color: antiquewhite;
    font-size: 15px;
    width: 190px;
    height: 100px; 
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 75%;
}


.result .container .summary{
    background-color: white;
    height: 400px;

}
.result .summary h3{
    text-align: center;
    font-size: 25px;
}
.result .container .summary .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 9%;
    margin: 38px 20px;
    padding-right: 55px;
    border-radius: 10px;
    
    
}
.result .container .summary  div:nth-of-type(1){


    background-color: rgb(247, 219, 223);
    margin: 20px;

    color: #fb7e7e;
    padding-left: 10px;
}

.result .container .summary div:nth-of-type(2){
    color: rgb(248, 248, 17);

    background-color: rgb(255, 208, 216);
    
    

}
.result .container .summary  div:nth-of-type(3){
    color: rgb(47, 139, 153);

    background-color: rgb(211, 245, 246);

}
.result .container .summary  div:nth-of-type(4){
    color: rgb(81, 77, 77);

    background-color: rgb(149, 153, 153);
    

}
.result .summary .content img{
    padding-left: 50px;
}


.result .summary .content p{
    padding-right: 460px;
}
.result .summary .continue{
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 20px;
    width: 80%;
    margin: 30px 40px;
    height: 50px;
}
.result .summary span{
    color: rgb(33, 32, 32);
    position: relative;
    font-weight: bold;
}
.result .summary span::after{
    content: "/100";
    color: rgb(91, 90, 90);
    position: absolute;

}
@media(max-width:767px){
    .result{
        width: 742px;
    }
    .result .container{
        width: 730px;
    
    }
    .result .container .child{
        display: grid;
        grid-template-columns: auto;
        
    
        
    }
    .result .your-result {
width: 100%;
    height: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    }
    .your-result .number{
        width: 600px;
    
        
    }
    
    .result .summary {
        display: block;
        flex-basis: auto;
        margin-top: 200px;
        margin-right: 100px;
        max-width: 100%;
    }

}
.info{
    
    height: 700px;
    background-color: rgb(12, 11, 11);
    position: relative;
}
.info .container{
width: 40%;
height: 80%;
background-color: rgb(16, 16, 16);
margin: 60px;
position: absolute;
left: 50%;
transform: translate(-50%);
border-radius:10px;


}
.info .image{
    position: relative;
}
.info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 40%;

}
.info h2{
    font-size: 25px;
    color: white;
    text-align: center;
}
.info h3{
    font-size: 18px;
    color: rgb(125, 195, 20);
    text-align: center;
}
.info p{
    color: white;
    text-align: center;
}
.info ul li{
    background-color:rgb(35,34,34) ;
    width: 90%;
    margin:  20px 20px;
    height: 45px;
    border-radius: 10px;
    
    position: relative;

    
}
.info ul li a{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 6px;
    right: 80px;

    margin-left: 260px;
    font-size: 18px;
    max-width: 100%;
}
@media(max-width:767px){
    .info .container {
        width: 70%;
        max-width: 100%;
        
        
    }

}
